:root {
  --bg-icon-hover: #6c757d;
  --bg-hover: blue;
}

body {
  min-height: 100vh;
  max-width: 1600px;
  background-color: #0001;
}

body #root,
body .Aplicacion {
  min-height: 100vh;
}
body .Aplicacion {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  max-width: 100%;
  height: auto;
}
